{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>David's Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/squirrel.png') }}" alt="Python Development" height="600px" width="250px">
                    <div class="card-body">
                    <h5 class="card-title">About Me</h5>
                    <p class="card-text">
                        <p>
                        <h1 style="font-size: 18px;">Goals for CSP:</h1>
                            <li>I want to learn how to create webpages with CSS, HTML, Javascript, and other coding languages.</li>
                            <li>I want to be successful in this class learning-wise and grade-wise.</li>
                            <li>I want to be prepared for AP Computer Science A, which I will take next year.</li>
                        <h1 style="font-size: 18px;">Facts about me:</h1>
                            <li>I was born in Atlanta, Georgia.</li>
                            <li>My birthday is on May 27.</li>
                            <li>I am 16 years old.</li>
                        <h1 style="font-size: 18px;">Some hobbies I have:</h1>
                            <li>photography</li>
                            <li>mountain biking</li>
                            <li>music production</li>
                            <li>coding</li>
                            <li>gaming</li>
                        <h1 style="font-size: 18px;">Some clubs I do:</h1>
                            <li>Science Olympiad</li>
                            <li>DN Music Production Club</li>
                            <li>FIRST Tech Challenge</li>
                        </p>
                    </p>
                    <a href="https://davidv.carrd.co/" class="btn btn-primary">My carrd.co Page</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/books.jpg') }}" alt="Flask Development" height="600px" width="250px">
                    <div class="card-body">
                    <h5 class="card-title">Class Schedule</h5>
                    <p class="card-text">
                        <p>
                            <style>
                                table {
                                    width: 100%;
                                }
                                td {
                                    padding-left: 1%; 
                                    padding-right: 1%;
                                }
                                th {
                                    padding-left: 1%; 
                                    padding-right: 1%;
                                }
                            </style>
                            <table>
                                <thead>
                                  <tr>
                                    <th>Period</th>
                                    <th>Class</th>
                                    <th>Room</th>
                                    <th>Teacher</th>
                                    <th>Email</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>US History 1</td>
                                    <td>L117</td>
                                    <td>Elizabeth Ayres</td>
                                    <td><a href="mailto:%22undefined%22%20%3Ceayres@powayusd.com%3E?subject=RE:%20David%20K.%20Vasilev,%20Course%20US%20HISTORY%201,%20period%201">Email</a></td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>AP Calculus AB</td>
                                    <td>R402</td>
                                    <td>Briana West</td>
                                    <td><a href="mailto:%22undefined%22%20%3Cbwest@powayusd.com%3E?subject=RE:%20David%20K.%20Vasilev,%20Course%20AP%20CALCULUS%20AB%20(1),%20period%202">Email</a></td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>AP CS Principles</td>
                                    <td>A101</td>
                                    <td>John Mortensen</td>
                                    <td><a href="mailto:%22undefined%22%20%3Cjmortensen@powayusd.com%3E?subject=RE:%20David%20K.%20Vasilev,%20Course%20AP%20CS%20PRINCIPLES%20(1),%20period%203">Email</a></td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>AP Physics C: Mech</td>
                                    <td>K105</td>
                                    <td>Ifeng Liao</td>
                                    <td><a href="mailto:%22undefined%22%20%3Cfliao@powayusd.com%3E?subject=RE:%20David%20K.%20Vasilev,%20Course%20AP%20PHYS/C:MECH(1),%20period%204">Email</a></td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>AP English Language</td>
                                    <td>G115</td>
                                    <td>Melissa Darcey Hall</td>
                                    <td><a href="mailto:%22undefined%22%20%3Cmdarceyhall@powayusd.com%3E?subject=RE:%20David%20K.%20Vasilev,%20Course%20AP%20ENGLISH%20LANG(1),%20period%205">Email</a></td>
                                  </tr>
                                </tbody>
                              </table>
                        </p>
                    </p>
                    <a href="https://davidvasilev1.github.io/fastpages/markdown/trimester%201/classes/tri%201%20assignments/2022/08/28/classes.html" class="btn btn-primary">Some More Info. About my Classes</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/cs.jpg') }}" alt="Backend and Persistence" height="600px" width="250px">
                    <div class="card-body">
                    <h5 class="card-title">CSP Thoughts and Goals</h5>
                    <p class="card-text">
                        <p>
                            <li>So far, this class has been pretty fun to do. I like how we can work at our own pace throughout the week and how we can choose how to customize what we do for the most part.</li>

                            <li>The things that we have learn are, in my opinion, very useful and I can definitely see myself using these tools for my own personal endeavors in computer science. Things I have learned with html and css can help me code webpages if I ever needed to and things that I have learned with python and javascript will help me create programs that do certain tasks I would like to automate.</li>
                        </p>
                    </p>
                    <a href="https://github.com/DavidVasilev1" class="btn btn-primary">Here is my Github Profile</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}