<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->

    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Introduction to Python Webserver</strong></h1>
        <p class="text-secondary">Here's a quick introduction on me!</p>
        <p>
            Here is my <a href="https://github.com/DavidVasilev1">Github Profile</a>.
        </p>
        <p>
            You can also check out my <a href="https://davidvasilev1.github.io/fastpages/">Fastpages Blog</a>!
        </p>
        <p>
            In this site I have all of my <a href="https://davidvasilev1.github.io/fastpages/assignments/">CSP assignments</a>, as well as <a href="https://davidvasilev1.github.io/fastpages/notes/">notes</a> that I have taken so far.
        </p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
